{{#partial "content"}}
{{#if username}}
    Logged in as {{ username }}
    <a href="/employers">Employers</a>
{{else}}
    <h1>Log in</h1>
    <form action="/sign-in" method="post">
        <input type="text" placeholder="Enter username" name="username">
        <button>Submit</button>
    </form>
{{/if}}
{{/partial}}

{{> base.hbs}}